overlay > box.floating-bar {
  -gtk-icon-style: symbolic;
  margin: 0;
  box-shadow: 0px 0px 2px alpha(@shadow_color, 0.3);
  background: @color__gray_dark;
  color: @color__gray_light;
  border-radius: 3px;
  border: 1px solid shade(@color__gray_dark, 0.7);
}
overlay > box.floating-bar.bottom.right {
  border: 0;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top: 1px solid shade(@color__gray_dark, 0.7);
  border-left: 1px solid shade(@color__gray_dark, 0.7);
}
overlay > box.floating-bar.bottom.left {
  border: 0;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-top: 1px solid shade(@color__gray_dark, 0.7);
  border-right: 1px solid shade(@color__gray_dark, 0.7);
}
overlay > box.floating-bar.top.left,
overlay > box.floating-bar.top.right {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid shade(@color__gray_dark, 0.7);
}
overlay > box.floating-bar.top.right {
  border-bottom-left-radius: 3px;
  border-left: 1px solid shade(@color__gray_dark, 0.7);
}
overlay > box.floating-bar.top.left {
  border-bottom-right-radius: 3px;
  border-right: 1px solid shade(@color__gray_dark, 0.7);
}
