menubar {
  -GtkWidget-window-dragging: true;
  margin: 0;
  min-height: 32px;
  color: inherit;
  background: @color__gray_dark;
  box-shadow: inset 0px 1px 0px 0px alpha(@color__orange_mid, 0.2),
    inset 0px -1px 0px 0px @border_color;
}
menubar:backdrop {
  background-image: none;
}
menubar > menuitem {
  margin: 2px;
  padding: 0 3px;
  border: 1px solid transparent;
}
menubar > menuitem:disabled {
  color: @inactive_fg_color;
}
menubar > menuitem:hover {
  background: @color__gray_mid;
}
menubar > menuitem > box > label,
menubar > menuitem > label {
  margin: 0 5px;
}
menubar > menuitem:hover > box.horizontal > label,
menubar > menuitem:hover > label {
  color: @color__gray_light;
}
menubar:backdrop > menuitem:hover > label {
  color: @inactive_fg_color;
}
