radiobutton {
  margin: 3px;
}
radiobutton > radio {
  margin: 0 5px;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  border: 1px solid alpha(@shadow_color, 0.35);
  background: @color__gray_dark;
  background-image: linear-gradient(
    180deg,
    alpha(@color__orange_mid, 0.1) 0%,
    alpha(@color__orange_mid, 0) 69%,
    alpha(@darken_color, 0) 70%,
    alpha(@darken_color, 0.05)
  );
  box-shadow: inset 0px 1px 0px 0px alpha(@color__orange_mid, 0.1),
    0px 1px 0px 0px alpha(@shadow_color, 0.09);
  padding: 0;
  color: @color__gray_light;
  transition: all 0.5s;
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-unchecked-symbolic");
}
radiobutton > radio:indeterminate {
  color: @color__orange_light;
  border: 1px solid alpha(@shadow_color, 0.3);
  background: alpha(@color__orange_mid, 0.5);
  transition: all 0.5s;
  -gtk-icon-shadow: alpha(@shadow_color, 0.3) 0px -1px;
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-semi-symbolic");
}
radiobutton > radio:checked {
  color: @color__orange_light;
  border: 1px solid alpha(@shadow_color, 0.5);
  background: @color__orange_mid;
  transition: all 0.5s;
  -gtk-icon-shadow: alpha(@shadow_color, 0.3) 0px -1px;
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-checked-symbolic");
}
.view > radio,
popover modelbutton > radio {
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  border: 1px solid alpha(@color__gray_light, 0.4);
  color: @color__gray_light;
  transition:0;
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-unchecked-symbolic");
}
.view > radio:checked,
popover modelbutton > radio:checked {
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-checked-symbolic");
}
.view > radio:indeterminate,
popover modelbutton > radio:indeterminate {
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-semi-symbolic");
}
.view > radio:selected {
  border: 1px solid alpha(@color__orange_light, 0.5);
  color: @color__orange_light;
}
menuitem > radio {
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  border: 1px solid alpha(@color__gray_light, 0.4);
  color: @color__gray_light;
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-unchecked-symbolic");
}
menuitem > radio:checked {
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-checked-symbolic");
}
menuitem > radio:indeterminate {
  -gtk-icon-theme: "ceres-gtk-icons";
  -gtk-icon-style: symbolic;
  -gtk-icon-source: -gtk-icontheme("gtk-radiobox-semi-symbolic");
}
menuitem > radio:hover {
  border: 1px solid alpha(@color__orange_light, 0.5);
  color: @color__orange_light;
}
menuitem > radio:dir(ltr) {
  margin-right: 5px;
}
menuitem > radio:dir(rtl) {
  margin-left: 5px;
}
popover modelbutton > radio:hover {
  transition:0;
  border: 1px solid alpha(@color__orange_light, 0.5);
  color: @color__orange_light;
}
