.sidebar {
  background: @color__orange_dark;
}
.sidebar:dir(ltr),
window
  > box.vertical
  > box.horizontal
  > stacksidebar.sidebar:dir(ltr)
  > scrolledwindow {
  border-right: 1px solid @border_color;
}
.sidebar:dir(rtl),
window
  > box.vertical
  > box.horizontal
  > stacksidebar.sidebar:dir(rtl)
  > scrolledwindow {
  border-left: 1px solid @border_color;
}
.sidebar > label {
  margin: 2px 0;
  padding: 5px;
}
.sidebar label.highlight {
  background: @color__orange_mid;
}
.sidebar > scrolledwindow.frame,
.sidebar > viewport.frame {
  margin: 0;
  border: 0;
}
frame > box > stacksidebar.sidebar > scrolledwindow:not(.frame):dir(ltr) {
  border-right: 1px solid @border_color;
}
frame > box > stacksidebar.sidebar > scrolledwindow:not(.frame):dir(rtl) {
  border-left: 1px solid @border_color;
}
