textview.view:not(:selected) {
  color: @color__orange_light;
  background: @color__orange_dark;
}
textview.view:selected {
  color: @color__orange_light;
  background: @color__orange_mid;
}
textview.sourceview,
textview.view.sourceview {
  font-family: monospace;
  font-variant: small-caps;
}
textview.sourceview > window,
textview.view.sourceview window {
  font: initial;
}

textview text {
  color: @color__orange_light;
  background-color: @color__orange_dark;
}
